.switch {
    position: absolute;
    width: 15%;
    height: 10%;
    top: 0;
    left: 40%;
    box-sizing: border-box;
    background-color: transparent;
    padding: 0;
    margin: 0;
    input {
        width: 100%;
        position: absolute;
        height: 100%;
        box-sizing: border-box;
        border: none;
        opacity: 0;
        cursor: pointer;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .switchImg {
        width: 150%;
        height: 100%;
        background-size: contain;
        border: none;
        cursor: pointer;
        background-color: transparent   ;
      
    }
}